// Define variables for your color scheme

// Colors commented are the original bootstrap ones

$red: #FF220C;
// $red: #EE5F5B;
$silver: #ADA0A6;
$blue: #52489C;
// $blue: #469AE0;
$yellow: #FFE74C;
// $yellow: #FDB631;
$orange: #E67E22;
$green: #88D498;
// $green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;


// Cores do logo
// $blue: #412f78;
// $light-gray: #d9d9d9;
// $gray: #bababa;
// $dark-gray: #acacac;
