// Specific CSS for your home-page
[id^="trabalho_saida"] {
  display: inline;
  width: auto
}

[id^="trabalho_entrada"] {
  display: inline;
  width: auto
}

.trabalho-pendente{
  background-color: $red
}
.trabalho-enviado{
  background-color: $yellow
}
.trabalho-validado{
  background-color: $green
}
