// Classe do formulário de login utilizada na página app/views/users/sessions/new.html.erb
.login-form {
  width: 350px;
  background-color: white;
  margin-top: 20px;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0.5px 0.5px 2px black;
}
