<div class="container">
  <h1>RELATÓRIOS EQUIPE RECIFE</h1>
  <div class="row justify-content-center align-items-center">
    <%= render 'shared/datas_tecon', reload_path: recife_imprimivel_path %>
  </div>
</div>
