<div class="container">
  <h1>RELATÓRIOS</h1>
  <% @users.each do |usuario| %>
    <%= link_to usuario.nome_completo, user_relatorio_path(usuario), class: "btn btn-primary btn-block", style: "font-weight: bold" %>
  <% end %>
  <%= link_to "Voltar", admin_path, class: "btn btn-default btn-danger", style: "font-weight: bold" %>
</div>

