<div class="container">
  <h1>RELATÓRIOS</h1>
  <%= link_to "Baixar relatório", baixar_relatorio_path %>
  <%= link_to "Voltar", admin_path, class: "btn btn-default btn-danger", style: "font-weight: bold" %>
</div>

