<div class="container">
  <h1>Cadastro de Ponto</h1>
  <h4 class="text-center">QUANDO TERMINAR O APONTAMENTO DE HORAS, FINALIZE A SESSÃO APERTANDO O BOTÃO "SAIR" NO TOPO DA PÁGINA</h4>

  <%= render 'shared/datas_tecon', reload_path: apontamento_path, cabecalho: "" %>

  <table class="table">

    <thead class="thead-dark">
      <tr>
        <th scope="col">Dia da Semana</th>
        <th scope="col">Data de Entrada</th>
        <th scope="col">Fez Hora Extra?</th>
        <th scope="col">Hora de Entrada</th>
        <th scope="col">Hora de Saída</th>
        <th scope="col">Obra</th>
        <th scope="col">Veículo</th>
        <th scope="col">Enviar</th>
      </tr>
    </thead>

    <tbody>
      <% @trabalhos.each do |trab| %>
        <%= render 'trabalhos/formulario_novo_trabalho', trabalho: trab %>
      <% end %>
    </tbody>
  </table>
</div>
