<%= content_for :botao_voltar do %>
  <%= link_to "<", relatorios_path, class: "btn btn-default btn-danger", style: "font-weight: bold" %>
<% end %>
<div class="container">
  <h1>RELATÓRIOS DE GRUPOS</h1>
  <div class="row">
    <%= render 'shared/filtro_digitacao' %>
    <% @grupos.each do |grupo| %>
      <div class="col-xs-12 itens" style="padding-bottom: 10px">
        <%= link_to grupo.nome.nil? ? "-" : grupo.nome, relatorios_grupo_path(grupo),class: "btn btn-primary btn-block referencia-filt", style: "font-weight: bold" %>
      </div>
    <% end %>
  </div>
</div>
