<div class="container text-center">
  <h1>TECON</h1>
  <h3>Apontamento de Horas Extras</h3>
  <%= link_to "Entrar", new_user_session_path, class: "btn btn-primary", style: "font-weight: bold" %>
</div>
