<div class="container text-center" style="padding-top: 50px">
  <%= cl_image_tag("Logo1", width: 142, height: 57, crop: :fill) %>
  <h3>Apontamento de Horas Extras</h3>
  <%= link_to "Entrar", new_user_session_path, class: "btn btn-primary", style: "font-weight: bold" %>
</div>
