<div class="container text-center" style="padding-top: 50px">
  <%= image_tag 'Logo1.png', style:"padding-bottom: 30px" %>
  <h3>Apontamento de Horas Extras</h3>
  <%= link_to "Entrar", new_user_session_path, class: "btn btn-primary", style: "font-weight: bold" %>
</div>
