<div class="container">
  <h1>RELATÓRIOS EQUIPE PARAÍBA</h1>
  <div class="row justify-content-center align-items-center">
    <%= render 'shared/datas_tecon', reload_path: equipe_obra_imprimivel_path, cabecalho: "EQUIPE", identif: "PB" %>
  </div>
  <div class="row">
    <div class="col-xs-12" >
      <%= link_to "Voltar", relatorios_path, class: "btn btn-danger btn-block", style: "font-weight: bold" %>
    </div>
  </div>
</div>
