<%= content_for :botao_voltar do %>
  <%= link_to "<", recife_para_relatorios_path, class: "btn btn-default btn-danger", style: "font-weight: bold" %>
<% end %>
<div class="container">
  <h1>RELATÓRIOS EQUIPE RECIFE</h1>
  <div class="row justify-content-center align-items-center">
    <%= render 'shared/datas_tecon', reload_path: equipe_obra_imprimivel_path, cabecalho: "EQUIPE", identif: "REC" %>
  </div>
</div>
