<% if verificar_pendencia(funcionario) %>
  <div class="col-xs-12 trabalho-pendente card-funcionario">
<% else %>
  <div class="col-xs-12 trabalho-validado card-funcionario">
<% end %>
  <h2><%= funcionario.nome_completo %></h2>
  <h3><%= funcionario.apelido %></h3>
  <button type="button" class="btn btn-info" data-toggle="modal" data-target="#infoFuncionarioModal" style="font-weight: bold">
    Atualizar
  </button>
</div>

<!-- Modal -->
<div class="modal fade" id="infoFuncionarioModal" tabindex="-1" role="dialog" aria-labelledby="infoFuncionarioLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
        <p class="modal-title" id="infoFuncionarioModalLabel" style="color: #4A4A4A; font-size: 25px;">Horas Extras de <%= funcionario.nome_completo %></p>
      </div>
      <% funcionario.trabalhos.last(7).each do |trab| %>
        <%=  render 'trabalhos/formulario_validacao', trabalho: trab %>
      <% end %>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-danger" data-dismiss="modal" style="font-weight: bold">
          Fechar
        </button>
      </div>
    </div>
  </div>
</div>
