<div class="container">
  <h1>PARAÍBA</h1>
  <%= link_to "Voltar", :back, class: "btn btn-default btn-danger", style: "font-weight: bold" %>

  <% @funcionarios.each do |func| %>
    <%=  func.username %>
  <% end %>
</div>
