/*
Código CSS para flash notices e alerts
O alerta tem um estilo padrão, mas dependendo to tipo ele apresenta cores diferentes
*/

.alert {
  margin: 0;
  text-align: center;
  color: white;
}
.alert-notice {
  background: $green;
}
.alert-alert {
  background: $red;
}
.alert-warning {
  background: $yellow;
}
.alert-info {
  // Use apenas uma das opções do palette
  // background: $blue;
  background: $silver;
}




