<%= content_for :botao_voltar do %>
  <%= link_to "<", relatorios_equipe_path, class: "btn btn-danger", style: "font-weight: bold" %>
<% end %>
<div class="container">
  <h1>RELATÓRIOS FUNCIONÁRIO <%= @funcionario.nome_completo %></h1>
  <div class="row justify-content-center align-items-center">
    <%= render 'shared/datas_tecon', reload_path: user_imprimivel_path(@funcionario), cabecalho: "FUNC" %>
  </div>
</div>
